@font-face {
    font-family: "Inter";
    src: url("./Inter/static/Inter-Medium.ttf") format('truetype');
}

@font-face {
    font-family: "Roboto_Condensed";
    src: url("./Roboto_Condensed/RobotoCondensed-Bold.ttf") format('truetype');
}

body {
    margin: 0;
    font-family: "Inter";
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.first-block {
    background-image: url("./back.jpg");
    background-size: auto;
    height: 100vh;
}

.up {
    width: 100%;
    height: 50px;
    padding-left: 500px;
    position: relative;
    top: 0;
    left: 0;
}

.up p {
    display: inline-block;
    margin-left: 50px;
    font-size: large;
    user-select: none;
    padding-bottom: 20px;
    transition: padding-bottom 250ms;
}

.up p:hover {
    color: blue;
    border: blue solid;
    border-width: 0px 0px 2px 0px;
    padding-bottom: 0px;
}

.middle {
    width: 70%;
    height: 60%;
    position: relative;
    top: 10%;
    left: 5%;
}

.middle * {
    animation: appear 2s;
}

.middle p {
    color: blue;
    font-size: 40px;
}

.middle h1 {
    font-size: xx-large;
    font-family: "Roboto_Condensed";
}

.col {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

.col p {
    color: black;
    font-size: 50px;
    width: 200px;
}

.scroll {
    width: 200px;
    height: 200px;
    position: relative;
    top: -10%;
    left: 80%;
    background: blue;
    animation: rotateme 5s infinite linear;
}

@keyframes rotateme {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes appear {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 100;
    }
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.navbar {
    background: black;
    width: 50px;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.navbar .logo {
    width: 50px;
    position: fixed;
    bottom: 0px;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.second-block {
    min-height: 100vh;
    width: 100%;
    background: black;
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.image {
    margin-left: 50px;
    display: inline-block;
    width: 40%;
}

.image img {
    width: 100%;
    display: inline-block;
}

.column {
    width: 40%;
    display: inline-block;
}

.column .punchline {
    color: blue;
    font-size: large;
}

.column h1 {
    font-size: 5vw;
}

.column p {
    font-size: 30px;
}

.column h4 {
    width: 60%;
    font-size: 40px;
    margin-top: 100px;
    border: solid whitesmoke;
    border-width: 2px 0px 0px 0px;
}
.menu-item{
    user-select: none;
}
.menu-item:hover{
    background: gray;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.team-block {
    min-height: 100vh;
    padding-left: 100px;
    padding-top: 20px;
    background: black;
    color: white;
}

.team-block .top {
    color: blue;
    font-size: 20px;
    display: block;
    margin: 20px;
}

.team-block h2 {
    display: inline-block;
    width: 40%;
    font-size: 80px;
    margin: 20px;
}

.cards {
    margin-top: 50px;
}

.team-block p {
    display: inline-block;
    font-size: 20px;
    width: 50%;
}

.team-block .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: initial;
}

.card {
    width: min-content;
    text-align: center;
    display: inline-block;
    margin: 20px 20px;
}

.card .name {
    font-size: 20px;
    margin: 10px;
}

.card .pro {
    font-size: 20px;
    color: blue;
    margin: 10px;
}

.empty {
    width: 300px;
    height: 400px;
    border: solid whitesmoke 1px;
    padding: 50px 10px 10px 10px;
    box-sizing: border-box;
}

.empty h4 {
    font-size: 40px;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.scheme-block {
    min-height: 100vh;
    padding-left: 100px;
    padding-top: 20px;
    background: whitesmoke;
}

.scheme-block h2 {
    font-size: 80px;
    width: 40%;
    display: inline-block;
}

.scheme-block p {
    font-size: 30px;
    width: 50%;
    display: inline-block;
}

.scheme {
    background-image: url("./scheme.png");
    background-size: contain;
    width: 1000px;
    height: 700px;
    margin: auto;
}

.circle-up {
    width: 40px;
    height: 40px;
    background: blue;
    border-radius: 50%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
}

.circle-down {
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 255, 0.5);
    border-radius: 50%;
    position: relative;
    top: 0;
    left: 0;
    animation: pulse 2s infinite linear;
}

.button {
    position: relative;
    display: inline-block;
}

@keyframes pulse {
    from {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.3);
    }
    to {
        transform: scale(1.0);
    }
}

#b1 {
    top: 285px;
    left: 270px;
}

#b2 {
    top: 500px;
    left: 150px;
}

#b3 {
    top: 185px;
    left: 360px;
}

#b4 {
    top: 300px;
    left: 350px;
}

#b5 {
    top: 230px;
    left: 450px;
}

#b6 {
    top: 350px;
    left: 450px;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.achiv-block {
    min-height: 100vh;
    padding-left: 100px;
    padding-top: 20px;
    background: whitesmoke;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.partener-block {
    min-height: 100vh;
    padding-left: 100px;
    padding-top: 20px;
    background: black;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.galery-block {
    min-height: 100vh;
    padding-left: 100px;
    padding-top: 20px;
    background: whitesmoke;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.footer {
    min-height: 20vh;
    padding-left: 100px;
    padding-top: 20px;
    background: black;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
  }/* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 10px;  width: 26px;
    height: 26px;  cursor: pointer;
    z-index: 2;
  }/* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;  width: 100%;
    height: 2px;  background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  /* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;  width: 300px;
    height: 100%;  margin: 0;
    padding: 80px 0;  list-style: none;
    text-align: center;  background-color: black;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }/* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;  color: whitesmoke;  font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;  text-decoration: none;
    box-sizing: border-box;
  }
  .menu__item:hover {
background: gray;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }