.body{
    margin:0;
}
.profile-image{
    max-width: 40%;
    display: inline-block;
}
.block{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.white{
    background: whitesmoke;
}
.black{
    background: black;
}
.column{
    display: inline-block;
    max-width: 45%;
    height: 100%;
}
.button{
    background: black;
    border-radius: 20px;
    padding: 20px 20px;
    color:white;
    width: min-content;
}
.small-logo{
    width: 50px;
    height: 50px;
}

.button-logo{
    background: black;
    border-radius: 25px;
    padding: 0px;
    color:white;
    width: min-content;
}
.descriptions{
    background: whitesmoke;
    border-radius: 50px;
    width: 30%;
    height: 80vh;
    box-sizing: border-box;
}

.scheme{
    height: 800px;
    z-index: 1;
    position: relative;
    left:0px;
    top:0px;
    
}
.button-animated{
    position: relative;
    top: 50px;
    left: 30px;
    z-index: 2;
}

@keyframes my-anime-button {
    from {
        transform: scale(1.1);
    }
    50%{
        transform: scale(1.3);
    }
  
    to {
        transform: scale(1.1);
    }
  }
.circle-up{
    height: 50px;
    width:50px;
    border-radius: 50%;
    background: blue;
    position:absolute;
    top:0px;
    left: 0px;
    z-index: 5;
}
.circle-up:hover{
    transform: scale(1.2);
}
.circle-down{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: rgba(0, 0, 255, 0.151);
    position:absolute;
    top:0px;
    left: 0px;
    animation: my-anime-button 3s infinite ;
}
.scheme-holder{
    background-image: url("./1_525508861ef00525508861ef3f.jpg") ;
    background-repeat: no-repeat;
    background-size:contain;
    width: 1040px;
    height: 800px;
}
